
.charWrap{
    width: 70%;
    height: 180px;
    background-color: $blue1;
    border: 1px solid $blue1;
    margin: 15px auto;
    @extend %f-r-c;
    &::before{
        content:'';
        width: 100%;
        height: 180px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @extend %bg-cover;
        background-size: 220%;
        background-position: right 62% bottom 85%;
        opacity: .5;
        background-image: url(../../../img/event/webmall/charBox.png);
    }
}

.charBox{
    @extend %f-r-c;
    
    position: relative;
    .user{
        font-size: 1.3rem;
        font-weight: 600;
        color: #fff;
        margin-right: 15px;
    }

    select{
        cursor: pointer;
        margin: 0 10px;
        color: $blue1;
        font-size: 1.3rem;
        padding: 0 5px;
        font-weight: 600;
    }
}

.depotTitle , .feedBackTitle{
    font-size: 1.8rem;
    font-weight: 800;
    color: $blue1;
    margin: 10px 0;
}

.line{
    width: 95%;
    height: 3px;
    background-color: $blue1;
}

sub{
    font-size: 1.2rem;
    font-weight: 500;
    color: $blue1;
    margin: 10px 0;
}

.userDepot , .feedBack{
    padding: 30px 0;
    @extend %f-c-c;

    .timeLine{
        background-color: $blue2;
        font-size: 1.3rem;
        font-weight: 600;
        color: #fff;
        padding: 5px 10px;
    }

    table{
        width: 85%;
        thead{
            background-color: $blue1;
            th{
                font-weight: 600;
                color: #fff;
                padding: 10px;
            }
        }
        tbody{
            tr{
                background-color: rgba(255,255,255,.8);
                text-align: center;
                select{
                    cursor: pointer;
                    width: 50px;
                    text-align: center;
                }
                td{
                    font-size: 1rem;
                    color: $blue1;
                    padding: 5px 0;
                    font-weight: 500;
                }
                button{
                    background-color: $orange;
                    color: #fff;
                    border: none;
                    padding: 5px 10px;
                    cursor: pointer;
                }
         
            }
        }
    }
}

.feedBack{
    span{
        margin: 10px 0px;
        color: $blue1;
        font-size: 1.2rem;
        font-weight: 500;

    }
    .spend{
        color: $orange;
        font-size: 1.3rem;
        font-weight: 800;
    }
    
    .feedBackBox{
        @extend %f-r-c;
        width: 80%;
        .itemBox{
            border: 2px solid $blue1;
            margin: 0 10px;
            width: 200px;
            height: 150px;
            background-color: rgba(255,255,255,.5);

            .priceTitle{
                background-color: $blue1;
                text-align: center;
                color: #fff;
                font-weight: 500;
                padding: 5px 10px;
                font-size: 1.2rem;
            }

            span{
                display: block;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 500;
    
                color: $blue1;
                margin: 5px 0;
            }
        }
        .itemBox.active{
            border: 2px solid $orange;

            .priceTitle{
                background-color: $orange;
            }

            span{
                color: $orange;
            }
        }
    }

}