@keyframes flybird1{
    0%{
        top: -144px;
        right: 57%;
        scale: 1;
        rotate: 30deg;
    }
    27%{
        top: 18px;
        right: 45%;
    }
    50%{
        top: 25px;
        right: 34%;
        rotate: 10deg;
    }
    75%{
        top: 50px;
        right: 22%;
    }
    100%{
        top: 80px;
        right: 20%;
        scale: 1.5;
        rotate: -10deg;
    }
}

@keyframes flybird2{
    0%{
        top: -144px;
        right: 35%;
        scale: 1;
        rotate: 30deg;
    }
    27%{
        top: 18px;
        right: 30%;
    }
    50%{
        top: 25px;
        right: 25%;
        rotate: 10deg;
    }
    75%{
        top: 80px;
        right: 20%;
    }
    100%{
        top: 200px;
        right: 18%;
        scale: 1.5;
        rotate: -10deg;
    }
}

@keyframes flybird1_m{
    0%{
        top: 40vh;
        left: -200px;
        scale: 1;
        rotate: 30deg;
    }
    27%{
        top: 48vh;
        left: 0;
    }
    50%{
        top: 52vh;
        left: 3vw;
        rotate: 10deg;
    }
    75%{
        top: 56vh;
        left: 7vw;
    }
    100%{
        top: 60vh;
        left: 10vw;
        scale: 1.5;
        rotate: -10deg;
    }
}

@keyframes flybird2_m{
    0%{
        top: 30vh;
        left: -100px;
        scale: 1;
        rotate: 30deg;
    }
    27%{
        top: 35vh;
        left: 0;
    }
    50%{
        top: 40vh;
        left: 1vw;
        rotate: 10deg;
    }
    75%{
        top: 50vh;
        left: 3vw;
    }
    100%{
        top: 55vh;
        left: 7vw;
        scale: 1.5;
        rotate: -10deg;
    }
}

@keyframes p2registerarrowL{
    0%,100%{
        left: 0px;
        top: -1px;
    }
    50%{
        left: -5px;
        top: -1px;
    }
}

@keyframes p2registerarrowR{
    0%,100%{
        left: 0px;
        top: -1px;
    }
    50%{
        left: 5px;
        top: -1px;
    }
}

@keyframes p2checkbtn{
    0%,100%{
        filter: brightness(1.3) drop-shadow(0 0 20px #ff6b6b);
    }
    50%{
        filter: brightness(1);
    }
}

@keyframes downbtnfloat{
    0%{
        transform: translateY(0px);
        filter: none;
    }
    100%{
        transform: translateY(10px);
        filter: drop-shadow(0 0 3px #FFF);
    }
}

@keyframes p3lantern {
    0%{
        opacity: 0;
        rotate: -12deg;
    }
    10%{
        opacity: 1;
    }
    20%{
        rotate: 12deg;
    }
    40%{
        rotate: -9deg;
    }
    60%{
        rotate: 6deg;
    }
    80%{
        rotate: -3deg;
    }
    100%{
        opacity: 1;
        rotate: 0deg;
    }
}

@keyframes p3lantern2 {
    0%{
        rotate: -20deg;
    }
    20%{
        rotate: 20deg;
    }
    40%{
        rotate: -15deg;
    }
    60%{
        rotate: 10deg;
    }
    80%{
        rotate: -5deg;
    }
    100%{
        rotate: 0deg;
    }
}

@keyframes p3lanternLine {
    0%{
        rotate: 0deg;
    }
    20%{
        rotate: -2deg;
    }
    40%{
        rotate: 0deg;
    }
    50%{
        rotate: -5deg;
    }
    65%{
        rotate: 0deg;
    }
    80%{
        rotate: -3deg;
    }
    100%{
        rotate: 0deg;
    }
}

@keyframes p3lanternLight {
    0%{
        opacity: 0;
    }
    2%{
        opacity: 0.8;
    }
    4%{
        opacity: 0.4;
    }
    6%,100%{
        opacity: 1;
    }
}

@keyframes p3cloud1 {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

@keyframes p3cloud2 {
    0%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}

@keyframes fadein {
	0%,
	100% {
		opacity: 0;
	}
	75% {
		opacity: 100%;
	}
}
@keyframes floatup {
	0% {
		top: 150px;
	}
	100% {
		top: 50px;
	}
}
@keyframes rotate{
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}
@keyframes left {
	0% {
		left: 150px;
	}
	100% {
		left: 100px;
	}
}
@keyframes right {
	0% {
		left: 150px;
	}
	100% {
		left: 200px;
	}
}
@keyframes farleft {
	0% {
		left: 150px;
	}
	100% {
		left: 50px;
	}
}
@keyframes farright {
	0% {
		left: 150px;
	}
	100% {
		left: 250px;
	}
}

@keyframes p4cloud {
    0%{
        background-position: bottom left;
    }
    100%{
        background-position: bottom right;
    }
}

@keyframes p4leave1 {
    0%{
        top: -100vh;
        left: 0vw;
    }
    25%{
        left: 5vw;
    }
    50%{
        left: -5vw;
    }
    75%{
        left: 5vw;
    }
    100%{
        top: 100vh;
        left: -10vw;
    }
}

@keyframes p4leave2 {
    0%{
        top: -100vh;
        left: 0vw;
    }
    25%{
        left: -5vw;
    }
    50%{
        left: 10vw;
    }
    75%{
        left: 5vw;
    }
    100%{
        top: 100vh;
        left: 30vw;
    }
}

@keyframes p4leave3 {
    0%{
        top: -100vh;
        left: 0vw;
    }
    100%{
        top: 100vh;
        left: -30vw;
    }
}

@keyframes p5arrowLfloat {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-20px);
    }
}

@keyframes p5arrowRfloat {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(20px);
    }
}

@keyframes p6cloud1 {
    0%{
        transform: translateX(0) translateY(0);
    }
    100%{
        transform: translateX(5%) translateY(2%);
    }
}

@keyframes p6cloud2 {
    0%{
        transform: translateX(0) translateY(0);
    }
    100%{
        transform: translateX(-5%) translateY(-3%);
    }
}