html,
body{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.swiper{
    width: 100vw;
    height: 100%;

    .swiper-slide{
        overflow: hidden;

        .cloudmask{
            position: relative;
            width: 100vw;
            height: 100vh;
            background: url(/img/event/prereg/cloudmask.png)no-repeat;
            background-size: cover;
            background-position: center;
            pointer-events: none;
            transition: 1s;
            transition-delay: 0.2s;
            opacity: 1;
            scale: 1;
        }
    }
    .page1{
        background: url(/img/event/prereg/p1/bg1.png);
        background-size: cover;
        background-position: center;

        .videoBG{
            position: absolute;
            left: 50%;
            translate: -50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .soundbtn{
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
            right: 0;
            background-color: #cb0c0c;
        }

        .XX2_logo{
            position: absolute;
            top: 5vh;
            left: 49.4%;
            translate: -50%;
            width: 100vw;
            height: 12vh;
            background: url(/img/event/prereg/p1/logo.png)no-repeat;
            background-size: contain;
            background-position: center;
        }

        .maintitle{
            position: absolute;
            top: 49.5vh;
            left: 48.7%;
            translate: -50%;
            width: 100vw;
            height: 28.2vh;
            background: url(/img/event/prereg/p1/title.png)no-repeat;
            background-size: contain;
            background-position: center;
        }

        .slogan{
            position: absolute;
            top: 76vh;
            left: 49.9%;
            translate: -50%;
            width: 80vw;
            height: 6.4vh;
            background: url(/img/event/prereg/p1/slogan.png)no-repeat;
            background-size: contain;
            background-position: center;
        }

        .downbtn{
            position: absolute;
            top: 90vh;
            left: 50%;
            translate: -50%;
            width: 66px;
            height: 49px;
            background: url(/img/event/prereg/p1/downbtn_BG.png);
            animation: downbtnfloat 1s infinite alternate-reverse ease-out;

            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: 50%;
                translate: -50%;
                width: 25px;
                height: 15px;
                background: url(/img/event/prereg/p1/downbtn_tri1.png);
                animation: downbtnfloat 1s infinite alternate-reverse ease-out;
            }

            &::after{
                position: absolute;
                content: '';
                top: 24%;
                left: 50%;
                translate: -50%;
                width: 40px;
                height: 22px;
                background: url(/img/event/prereg/p1/downbtn_tri2.png);
                animation: downbtnfloat 1s infinite alternate-reverse ease-out;
            }
        }
    }
    .page2{
        background-color: #96c6c9;
        background: url(/img/event/prereg/p2/bg2-t2.png)no-repeat;
        background-position: center;
        background-size: cover;

        .bg2animate{

            .bird{
                position: absolute;
                top: -144px;
                right: 57%;
                width: 110px;
                height: 148px;
                transform-origin: 79px 69px;
                background: url(/img/event/prereg/p2/bird.png)no-repeat;
                filter: drop-shadow(0 0 3px rgba(78, 104, 113, 0.7));
                z-index: 10;
            }

            .leaveR{
                position: absolute;
                top: 0;
                right: 0;
                width: 50vw;
                height: 100vh;
                background: url(/img/event/prereg/p2/leave_right.png)no-repeat;
            }

        }

        .p2main{
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 68vw;
            height: 80vh;
            display: flex;

            .p2steps{
                width: 50%;
                height: 100%;
                background-color: #af000041;

                .p2title{
                    width: 90%;
                    height: 24.5%;
                    margin: auto;
                    margin-right: 1.5%;
                    margin-top: 3.8%;
                    background: url(/img/event/prereg/p2/title.png)no-repeat;
                    background-size: contain;
                    background-position: right;
                }
            }

            .p2awards{
                scale: 1;
                width: 50%;
                height: 100%;

                .awardbox{
                    width: 74.5%;
                    height: 83.5%;
                    margin: auto;
                    margin-top: 6.6%;
                    background: url(/img/event/prereg/p2/award.png)no-repeat;
                    background-position: center;
                    background-size: contain;
                }

                .p2btns{
                    width: 80%;
                    height: 7.5%;
                    margin: auto;
                    margin-top: 2.4%;
                    color: #ffffff;
                    font-size: 1.6rem;
                    font-weight: bold;
                    display: flex;
                    text-align: center;
                    text-shadow: 0 0 5px #010101;

                    .p2informationbtn, .p2noticebtn{
                        position: relative;
                        width: 50%;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        background: url(/img/event/prereg/p2/btn2.png)no-repeat;
                        background-position: center;
                        background-size: contain;
                        cursor: pointer;

                        &::before, &::after{
                            position: absolute;
                            content: '';
                            width: 32px;
                            height: 100%;
                            background: url(/img/event/prereg/p2/btn2_hover1.png)no-repeat;
                            background-position: center;
                            transition: 0.3s;
                        }

                        &::before{
                            left: 24px;

                        }

                        &::after{
                            scale: -1;
                            right: 24px;
                        }

                        &:hover::before,&:hover::after{
                                transform: translateX(-5px);
                        }
                    }

                }
            }
        }
    }
    .page3{
        background-color: #96c9bd;
    }
    .page4{
        background-color: #96c6c9;
    }
    .page5{
        background: url(/img/event/prereg/p5/bg5.png);
        background-size: cover;
        background-position: center;

        .p5title{
            position: absolute;
            top: 12vh;
            left: 16vw;
            width: 30vw;
            height: 10vw;
            background: url(/img/event/prereg/p5/title.png)no-repeat;
            background-size: contain;
            background-position: center;
        }

        .p5slideBox{
            position: absolute;
            left: 50%;
            top: 57%;
            translate: -50% -50%;
            width: 50vw;
            height: 27.5vw;
            background: url(/img/event/prereg/p5/slideBG.png)no-repeat;
            background-size: 100% 100%;


            .p5slidebg{
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                border-radius: 20px;
                background-image: linear-gradient(to bottom right, #091746, #142765, #3b7c9e);

                &::before{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    border-radius: 30px;
                    width: calc(50vw - 60px);
                    height: calc(27.5vw - 60px);
                    background: url(/img/event/prereg/p5/slide1.png)no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }

            .p5slider{
                left: 50%;
                translate: -50%;
                width: calc(100% - 60px);
                height: 100%;
                display: flex;
                scale: 1;

                .slick-list{
                    color: rgba(255, 0, 0, 0);
                    .slick-track{
                        top: 50%;
                        left: 50%;
                        translate: -50% -50%;
                        height: calc(100% - 60px);
                    }
                }

                .p5slide1{
                    background: url(/img/event/prereg/p5/slide1.png)no-repeat;
                }

                .p5slide2{
                    background: url(/img/event/prereg/p5/slide2.png)no-repeat;
                }

                .p5slide3{
                    background: url(/img/event/prereg/p5/slide3.png)no-repeat;
                }

                .p5slide4{
                    background: url(/img/event/prereg/p5/slide4.png)no-repeat;
                }

                .p5slide1,.p5slide2,.p5slide3,.p5slide4{
                    border-radius: 30px;
                    background-size: cover;
                    background-position: center;
                    background-color: #ffffff;
                }

                .slick-arrow{
                    position: absolute;
                    width: 73px;
                    height: 108px;
                    background-size: contain;
                    background-position: center;
                    border: none;
                    color: #ffffff00;
                    cursor: pointer;
                }

                .slick-prev{
                    top: 50%;
                    left: -10%;
                    translate: -50% -50%;
                    background: url(/img/event/prereg/p5/swiperArrow_L.png)no-repeat;
                    animation: p5arrowLfloat 1.5s infinite alternate ease-in-out;
                }

                .slick-next{
                    top: 50%;
                    right: -10%;
                    translate: 50% -50%;
                    background: url(/img/event/prereg/p5/swiperArrow_R.png)no-repeat;
                    animation: p5arrowRfloat 1.5s infinite alternate ease-in-out;
                }

                .slick-dots{
                    position: absolute;
                    top: 100%;
                    left: calc(50% - 20px);
                    translate: -50%;
                    list-style: none;
                    display: flex !important;

                    & li{
                        & button{
                            width: 25px;
                            height: 25px;
                            border-radius: 100px;
                            margin: auto 5px;
                            border: #7497d1 5px solid;
                            background-color: #FFF;
                            color: #00000000;
                            cursor: pointer;
                            transition: 0.3s;
                        }
                    }

                    .slick-active{
                        & button{
                            width: 55px;
                            background-color: #5d78c5;
                            color: #00000000;
                        }

                    }
                }
            }

            .p5flowers{
                & div{
                    position: absolute;
                    width: 31px;
                    height: 36px;
                    background: url(/img/event/prereg/p5/flower.png)no-repeat;

                    &:nth-child(1){
                        left: 0;
                        top: 0;
                        translate: -50% -50%;
                    }
                    &:nth-child(2){
                        right: 0;
                        top: 0;
                        translate: 50% -50%;
                    }
                    &:nth-child(3){
                        right: 0;
                        bottom: 0;
                        translate: 50% 50%;
                    }
                    &:nth-child(4){
                        left: 0;
                        bottom: 0;
                        translate: -50% 50%;
                    }
                }
            }

        }

        #rainBox {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        .rain {
            position: absolute;
            width: 3px;
            height: 100px;
            background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.3));
        }

    }
    .page6{
        background: url(/img/event/prereg/p6/bg6.jpg);
        background-size: cover;
        background-position: center;

        .p6title{
            position: absolute;
            top: 12vh;
            left: 16vw;
            width: 30vw;
            height: 10vw;
            background: url(/img/event/prereg/p6/title.png)no-repeat;
            background-size: contain;
            background-position: center;
        }

        .roles{
            position: absolute;
            width: 50vw;
            height: 100vh;
            left: 50%;
            /* background-color: #00000042; */

            .arm{
                position: absolute;
                top: 37.5%;
                left: 18.4%;
                width: 67px;
                height: 147px;
                background: url(/img/event/prereg/p6/roleArm.png)no-repeat;
                background-size: contain;
                color: #FFF;
                font-family: 'Noto Serif TC', serif;
                font-size: 18pt;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 20pt;
            }
        }

        .p6menu{
            position: absolute;
            top: 48vh;
            left: 64vw;
            width: 542px;
            height: 417px;
            background: url(/img/event/prereg/p6/menuBG.png)no-repeat;
            background-size: contain;
            background-position: top;

            & div{
                position: absolute;
                cursor: pointer;

                &:hover{
                    scale: 1.05;
                }
            }

            .p6btn1{
                top: 25%;
                left: 86%;
                width: 109px;
                height: 75px;
                background: url(/img/event/prereg/p6/btn1.png)no-repeat;
                background-size: contain;
                transition: 0.5s;

                &:hover{
                    background: url(/img/event/prereg/p6/btn1_hover.png)no-repeat;
                    background-size: contain;
                }
            }
            .p6btn1_2{
                background: url(/img/event/prereg/p6/btn1_hover.png)no-repeat;
            }

            .p6btn2{
                top: 46%;
                left: 78%;
                width: 109px;
                height: 75px;
                background: url(/img/event/prereg/p6/btn2.png)no-repeat;
                background-size: contain;
                transition: 0.5s;

                &:hover{
                    background: url(/img/event/prereg/p6/btn2_hover.png)no-repeat;
                    background-size: contain;
                }
            }
            .p6btn2_2{
                background: url(/img/event/prereg/p6/btn2_hover.png)no-repeat;
            }

            .p6btn3{
                top: 63%;
                left: 65%;
                width: 109px;
                height: 75px;
                background: url(/img/event/prereg/p6/btn3.png)no-repeat;
                background-size: contain;
                transition: 0.5s;

                &:hover{
                    background: url(/img/event/prereg/p6/btn3_hover.png)no-repeat;
                    background-size: contain;
                }
            }
            .p6btn3_2{
                background: url(/img/event/prereg/p6/btn3_hover.png)no-repeat;
            }

            .p6btn4{
                top: 77%;
                left: 50%;
                width: 109px;
                height: 75px;
                background: url(/img/event/prereg/p6/btn4.png)no-repeat;
                background-size: contain;
                transition: 0.5s;

                &:hover{
                    background: url(/img/event/prereg/p6/btn4_hover.png)no-repeat;
                    background-size: contain;
                }
            }
            .p6btn4_2{
                background: url(/img/event/prereg/p6/btn4_hover.png)no-repeat;
            }

            .p6btn5{
                top: 86%;
                left: 32%;
                width: 109px;
                height: 75px;
                background: url(/img/event/prereg/p6/btn5.png)no-repeat;
                background-size: contain;
                transition: 0.5s;

                &:hover{
                    background: url(/img/event/prereg/p6/btn5_hover.png)no-repeat;
                    background-size: contain;
                }
            }
            .p6btn5_2{
                background: url(/img/event/prereg/p6/btn5_hover.png)no-repeat;
            }
        }

        .bgclouds{
            .bgcloud1{
                position: absolute;
                width: 100vw;
                height: 100vh;
                background: url(/img/event/prereg/p6/bg_cloud1.png)no-repeat;
                background-position: bottom;
                background-size: contain;
                animation: p6cloud1 10s infinite alternate ease-in;
            }
            .bgcloud2{
                position: absolute;
                top: 5%;
                left: -50%;
                width: 100vw;
                height: 100vh;
                background: url(/img/event/prereg/p6/bg_cloud2.png)no-repeat;
                background-position: bottom;
                background-size: contain;
                animation: p6cloud2 12s infinite alternate ease-in;
            }
        }

        .p6features{
            position: absolute;
            width: 25vw;
            height: 11.75vw;
            background: url(/img/event/prereg/p6/textBG.png)no-repeat;
            background-position: top;
            background-size: contain;

            .p6subtitle{
                position: absolute;
                width: calc(25vw / 2);
                height: calc(25vw * 0.115);
                background: url(/img/event/prereg/p6/subtitleBG.png)no-repeat;
                background-position: top;
                background-size: contain;
                font-family: 'Noto Serif TC', serif;
                color: #FFF;
                font-size: 20pt;
                text-align: center;
                line-height: calc(25vw * 0.11);
                letter-spacing: 1px;
            }

            .p6text{
                position: absolute;
                width: 75%;
                height: auto;
                top: 30%;
                left: 50%;
                translate: -50%;
                color: #000;
                font-weight: bolder;
                font-size: 18px;
            }
        }

        .p6feature1{
            left: 19%;
            top: 33%;
        }

        .p6feature2{
            left: calc(19% + 25vw / 2);
            top: calc(33% + 11.75vw);
        }
    }
    .page7{
        background-color: #96c9bd;

    }

    .swiper-slide-active{
        .cloudmask{
            scale: 2;
            opacity: 0;
            transition: 3s;
            transition-delay: 0s;
        }
        .bg2animate{

            .bird{
                animation: flybird 6s 1 linear;
                animation-fill-mode: forwards;
            }
        }
    }
}

.menubar{

    .menubtn{
        position: absolute;
        z-index: 99;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-image: linear-gradient(to bottom, #98a8cb, #424e7e);
        cursor: pointer;

        &::before, &::after{
            position: absolute;
            content: '';
            left: 50%;
            translate: -50%;
            width: 50%;
            height: 2px;
            background-color: #ffffff;
            transition: .3s;
        }
        &::after{
            top: 35%;
        }
        &::before{
            top: 55%;
        }
    }

    .menubtn1{
        top: 10%;
        left: 7.5vw;
        translate: -50%;
    }

    .menubtnOpen{
        &::after,&::before{
            width: 60%;
            top: 45%;
        }
        &::after{
            rotate: 45deg;
        }
        &::before{
            rotate: -45deg;
        }
    }

    .bar{
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        z-index: 99;
        width: 15vw;
        height: 100vh;
        background-image: linear-gradient(to bottom, rgba(179, 166, 211, 0.55), rgba(104, 145, 180, 0.55));
    }

    .barLine{
        position: absolute;
        top: -100vh;
        left: 15vw;
        z-index: 99;
        height: 100vh;
        border-right-width: 2px;
        border-right-color: #ffffff;
        border-right-style: solid;
    }

}

/*選單連結(放進bar的css裡面會跑版所以放外面)*/
.swiper-pagination{
    top: 50vh !important;
    left: 4vw !important;

    .swiper-pagination-bullet{
        width: 20px;
        height: 20px;
        margin: 5vh 0 !important;
        background: none;
        color: #ffffff;
        text-shadow:  0 0 10px #4b6898;
        opacity: 1;
        &:hover{
            color: #fff2d2;
        }
        &:hover::before{
            position: absolute;
            content: '';
            left: 0%;
            translate: -100% 8%;
            width: 37px;
            height: 40px;
            background: url(/img/event/prereg/menu_icon.png)no-repeat;
            filter: drop-shadow(0 0 13px #4b6898);
        }
    }

    .swiper-pagination-bullet-active{
        color: #fff2d2;
        &::before{
            position: absolute;
            content: '';
            left: 0%;
            translate: -100% 8%;
            width: 37px;
            height: 40px;
            background: url(/img/event/prereg/menu_icon.png)no-repeat;
            filter: drop-shadow(0 0 13px #4b6898);
        }
    }
    .swiper-pagination-bullet{
        font-size: 30px;
        font-weight: 600;
    }
    .swiper-pagination-bullet:nth-child(1){
        &::after{
            position: absolute;
            content: '首　　頁';
            width: fit-content;
            height: 10px;
        }
    }
    .swiper-pagination-bullet:nth-child(2){
        &::after{
            position: absolute;
            content: '初出江湖';
            width: fit-content;
            height: 10px;
        }
    }
    .swiper-pagination-bullet:nth-child(3){
        &::after{
            position: absolute;
            content: '結交名士';
            width: fit-content;
            height: 10px;
        }
    }
    /*8/31修改以下各content裡的註解資料*/
    .swiper-pagination-bullet:nth-child(4){
        &::after{
            position: absolute;
            content: '遊戲特色';
            content: '熊貓賽跑';
            width: fit-content;
            height: 10px;
        }
    }
    .swiper-pagination-bullet:nth-child(5){
        &::after{
            position: absolute;
            content: '職業介紹';
            content: '遊戲特色';
            width: fit-content;
            height: 10px;
        }
    }
    .swiper-pagination-bullet:nth-last-child(2){
        &::after{
            position: absolute;
            content: '活動規則';
            content: '職業介紹';
            width: fit-content;
            height: 10px;
        }
    }
    .swiper-pagination-bullet:last-child{
        /* pointer-events: none; */
        &::after{
            position: absolute;
            content: '敬請期待';
            content: '活動規則';
            width: fit-content;
            height: 10px;
        }
    }
}

/*大彈窗*/
.pop{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(127, 140, 149, 0.5);
    font-family: 'Noto Serif TC', serif;
    z-index: 10;
    display: none;

    .popframe{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 40.3vw;
        height: 40.3vw;
        background: url(/img/event/prereg/pop_l/popL_frame.png)no-repeat;
        background-size: contain;

        .XX{
            position: absolute;
            top: 1%;
            right: -10%;
            width: 4vw;
            height: 4vw;
            cursor: pointer;
            background: url(/img/event/prereg/pop_l/XX.png)no-repeat;
            background-size: contain;
            transition: 0.3s;

            &:hover{
                rotate: 90deg;
            }
        }

        .poptitle{
            position: absolute;
            top: 10%;
            left: 50%;
            translate: -50%;
            font-size: 1.8rem;
            color: #15386c;
            text-align: center;

            &::before,&::after{
                position: absolute;
                content: '';
                top: 6%;
                width: 28px;
                height: 100%;
                background: url(/img/event/prereg/pop_l/popLtitle_icon.png)no-repeat;
                background-position: center;
            }
            &::before{
                left: -30%;
            }
            &::after{
                right: -30%;
                scale: -1;
            }
        }

        .popText{
            margin: auto;
            margin-top: 18%;
            width: 80%;
            height: 73%;
            list-style: decimal;
            color: #15386c;
            font-size: 1.3rem;
            overflow-y: scroll;

            & li{
                margin: 5px 0;
                padding-right: 3%;

                & span{
                    color: #91006a;
                }
            }

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-button {
                background: transparent;
            }

            &::-webkit-scrollbar-track-piece {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 2px;
                background-color: #385a8d;
            }

            &::-webkit-scrollbar-track {
                box-shadow: none;
            }
        }
    }
}

/*小彈窗*/
.popS{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(127, 140, 149, 0.5);
    font-family: 'Noto Serif TC', serif;
    z-index: 10;
    display: none;

    .popSframe{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 30vw;
        height: 60vh;
        background: url(/img/event/prereg/pop_s/popS_frame.png)no-repeat;
        background-size: contain;

        .popStitle{
            position: absolute;
            top: 13%;
            left: 50%;
            translate: -50%;
            font-size: 1.8rem;
            color: #e4efff;
            text-align: center;

            &::before,&::after{
                position: absolute;
                content: '';
                top: 6%;
                width: 20px;
                height: 100%;
                background: url(/img/event/prereg/pop_s/popStitle_icon.png)no-repeat;
                background-position: center;
            }
            &::before{
                left: -15%;
            }
            &::after{
                right: -15%;
                scale: -1;
            }
        }

        .popSText{
            margin: auto;
            margin-top: 30%;
            width: 70%;
            height: 73%;
            list-style: decimal;
            color: #e4efff;
            font-size: 1.3rem;
            text-align: center;
            & span , & a{
                    color: #91006a;
                }
        }

        .popScheckBtn{
            position: absolute;
            bottom: 15%;
            left: 50%;
            translate: -50%;
            width: 120px;
            height: 50px;
            background-color: #FFF;
            text-align: center;
            font-size: 1.3rem;
            line-height: 50px;
            letter-spacing: 5px;
            cursor: pointer;
        }
    }
}

/* ===========版權聲明開關=========== */

.footer-btn{
    position: fixed;
    z-index: 51;
    bottom: 14px;
    left: 65px;
    cursor: default;

    & p{
        color: rgb(72, 73, 84);
        font-weight: 600;
    }

    .footer-btnbox{
        position: fixed;
        z-index: 100;
        bottom: 30px;
        left: 135px;
        width: 50px;
        height: 24px;
        border-radius: 12px;
        background-color: rgba(169, 211, 235, 0.5);
        box-shadow: 0px 3px 0px rgba(0,0,0,.13) inset;
        cursor: pointer;

        .footer-btnball{
            width: 18px;
            height: 18px;
            margin: 3px;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            box-shadow:1px 2px 5px rgba(24, 29, 62, 0.3);
            text-align: center;
            line-height: 18px;
            color: #5c77c0;
        }
    }
}

/*========footer========*/

footer{
    width: 100vw;
    height: 100px;
    bottom: 0;
    background-color: #424d68;
    position: fixed;
    z-index: 50;
    left: 0px;
    display: none;

    .wrap{
        position: absolute;
        left: 50%;
        translate: -50%;
        width: 80%;
        height: 100%;
        color: #ffffff;
        text-align: center;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        & div{
            margin: auto 0.3vw;
        }

        .digeamlogo{
            width: 12%;
            height: 40%;
            background: url(/img/event/prereg/footer/LOGO_white.png)no-repeat;
            background-size: contain;
            background-position: center;
        }

        .giantlogo{
            width: 11%;
            height: 50%;
            background: url(/img/event/prereg/footer/GIANT-LOGO.png)no-repeat;
            background-size: contain;
            background-position: center;
        }

        .copyright{
            width: 25%;
            height: 70%;
            text-align: left;
            font-size: 11pt;

            & a{
                color: #fff100;
                margin-right: 1%;
            }

            & p{
                margin: auto;
            }
        }
        .plus{
            height: 70%;
            display: flex;

            .lv{
                width: 60px;
                height: 100%;
                background: url(/img/event/prereg/footer/12plus.png)no-repeat;
                background-size: contain;
                background-position: center;
            }

            .footernotice{
                text-align: left;
                vertical-align: top;
                line-height: 3px;
                font-size: 9pt;
                & p:nth-child(4){
                    color: #fff100;
                }
            }
        }
    }
}


