.wrap{
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(#fff, #d2e2ff);
    min-width: 1920px;
    height: 950px;
}

.main {
    position: relative;
    margin: 0 auto;
    width: 1920px;
}


.logo {
    position: absolute;
    z-index: 1;
    top: 26%;
    left: 35%;
}

#loading {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1200;
    .loadBox{
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            font-size: 20px;
            margin-right: 20px;
            color: #002750;
            font-weight: 600;
        }
        .spinner {
            border: 4px solid rgba(255, 255, 255, 0.3);
            border-top: 4px solid #007bff; /* Loading 图标的颜色 */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
        }
    }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




.navBox {
    font-size: 22.5px;
    font-weight: 500;
    background: linear-gradient(#001562be, #08399acb);
    height: 80px;
    // width: 1920px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 6;
    display: flex;
    justify-content: center;

    @include xl {
        position: absolute;
    }

    nav {
        font-weight: 600;
        width: 942px;
        height: 80px;

        .menuBox {
            display: flex;
            justify-content: center;

            .menu {
                a {
                    width: 157px;
                    display: grid;
                    place-items: center;
                    height: 80px;

                    &:hover {
                        background-color: #142454c2;
                    }
                }

                a {
                    color: #fff;
                }
            }

            .menu6,
            .menu1,
            .menu3 {

                .menu1_open,
                .menu3_open,
                .menu6_open {
                    display: none;
                    width: 157px;

                    li {
                        display: grid;
                        place-items: center;
                        height: 80px;
                        background-color: #1c2d62c2;
                    }
                }

                &:hover {
                    background-color: #1c2d62c2;
                }
            }
        }

    }

    .iconBox {
        height: 80px;
        width: 180px;

        ul {
            display: flex;

            li {
                height: 80px;
                width: 60px;
                display: grid;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
