@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Noto+Serif+TC:wght@500;600;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #000;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 將連結初始化 */
a {
  text-decoration: none;
}

.loading-spinner .dots {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: "微軟正黑體";
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border: 1px solid #c3d9ff;
}

::-webkit-scrollbar-track {
  background: #fff;
}

.appear {
  transition: 0.5s linear;
}
.appear:hover {
  transition: 0.5s linear;
}

.appear {
  opacity: 1 !important;
  pointer-events: all !important;
}

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.loading-spinner .dots {
  width: 3.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.loading-spinner .dots div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #fc2f70;
  animation: fade 0.8s ease-in-out alternate infinite;
}
.loading-spinner .dots div:nth-of-type(1) {
  animation-delay: -0.4s;
}
.loading-spinner .dots div:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin: 0 auto;
  background-image: linear-gradient(#fff, #d2e2ff);
}

.main {
  position: relative;
  margin: 0 auto;
  width: 1920px;
}

.logo {
  position: absolute;
  top: 242px;
  left: 669px;
  z-index: 1;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1200;
}
#loading .loadBox {
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loading .loadBox p {
  font-size: 20px;
  margin-right: 20px;
  color: #002750;
  font-weight: 600;
}
#loading .loadBox .spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007bff; /* Loading 图标的颜色 */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navBox {
  font-size: 22.5px;
  font-weight: 500;
  background: linear-gradient(rgba(0, 21, 98, 0.7450980392), rgba(8, 57, 154, 0.7960784314));
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 1440px) {
  .navBox {
    position: absolute;
  }
}
.navBox nav {
  width: 942px;
  height: 80px;
}
.navBox nav .menuBox {
  display: flex;
}
.navBox nav .menuBox .menu a {
  width: 157px;
  display: grid;
  place-items: center;
  height: 80px;
}
.navBox nav .menuBox .menu a:hover {
  background-color: rgba(20, 36, 84, 0.7607843137);
}
.navBox nav .menuBox .menu a {
  color: #fff;
}
.navBox nav .menuBox .menu6 .menu1_open,
.navBox nav .menuBox .menu6 .menu3_open,
.navBox nav .menuBox .menu6 .menu6_open,
.navBox nav .menuBox .menu1 .menu1_open,
.navBox nav .menuBox .menu1 .menu3_open,
.navBox nav .menuBox .menu1 .menu6_open,
.navBox nav .menuBox .menu3 .menu1_open,
.navBox nav .menuBox .menu3 .menu3_open,
.navBox nav .menuBox .menu3 .menu6_open {
  display: none;
  width: 157px;
}
.navBox nav .menuBox .menu6 .menu1_open li,
.navBox nav .menuBox .menu6 .menu3_open li,
.navBox nav .menuBox .menu6 .menu6_open li,
.navBox nav .menuBox .menu1 .menu1_open li,
.navBox nav .menuBox .menu1 .menu3_open li,
.navBox nav .menuBox .menu1 .menu6_open li,
.navBox nav .menuBox .menu3 .menu1_open li,
.navBox nav .menuBox .menu3 .menu3_open li,
.navBox nav .menuBox .menu3 .menu6_open li {
  display: grid;
  place-items: center;
  height: 80px;
  background-color: rgba(28, 45, 98, 0.7607843137);
}
.navBox nav .menuBox .menu6:hover,
.navBox nav .menuBox .menu1:hover,
.navBox nav .menuBox .menu3:hover {
  background-color: rgba(28, 45, 98, 0.7607843137);
}
.navBox .iconBox {
  height: 80px;
  width: 180px;
}
.navBox .iconBox ul {
  display: flex;
}
.navBox .iconBox ul li {
  height: 80px;
  width: 60px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.section1 .sectionBG {
  background: url("../../../img/event/homepage/section1BG.jpg");
  background-size: 1920px 950px;
  background-position: center center;
  height: 950px;
  width: 1920px;
  overflow: auto;
}
.section1 .sectionBG .container {
  width: 1270px;
  height: 350px;
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
}
.section1 .sectionBG .container .btnBox1 {
  font-size: 22.5px;
  font-weight: 500;
  width: 245px;
  height: 350px;
  text-align: center;
}
.section1 .sectionBG .container .btnBox1 .buttonDownload {
  transition: filter 0.3s ease-in-out;
}
.section1 .sectionBG .container .btnBox1 .buttonDownload:hover {
  filter: brightness(120%);
}
.section1 .sectionBG .container .btnBox1 .buttonDownload:not(:hover) {
  filter: brightness(100%);
}
.section1 .sectionBG .container .btnBox1 a {
  color: #153d97;
}
.section1 .sectionBG .container .btnBox1 .btnBox2 {
  display: flex;
  flex-direction: column;
}
.section1 .sectionBG .container .btnBox1 .btnBox2 .register,
.section1 .sectionBG .container .btnBox1 .btnBox2 .addValue,
.section1 .sectionBG .container .btnBox1 .btnBox2 .OTP,
.section1 .sectionBG .container .btnBox1 .btnBox2 .customerService {
  height: 86px;
}
.section1 .sectionBG .container .btnBox1 .btnBox2 .register:hover,
.section1 .sectionBG .container .btnBox1 .btnBox2 .addValue:hover,
.section1 .sectionBG .container .btnBox1 .btnBox2 .OTP:hover,
.section1 .sectionBG .container .btnBox1 .btnBox2 .customerService:hover {
  background-color: rgba(238, 245, 255, 0.5764705882);
}
.section1 .sectionBG .container .btnBox1 .btnBox2 .register,
.section1 .sectionBG .container .btnBox1 .btnBox2 .addValue {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.9px solid;
  -o-border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 3%, rgb(31, 48, 107) 4%, rgb(31, 48, 107) 96%, rgba(255, 255, 255, 0) 97%) 100% 0;
     border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 3%, rgb(31, 48, 107) 4%, rgb(31, 48, 107) 96%, rgba(255, 255, 255, 0) 97%) 100% 0;
}
.section1 .sectionBG .container .btnBox1 .btnBox2 .register img,
.section1 .sectionBG .container .btnBox1 .btnBox2 .addValue img {
  margin-right: 10px;
}
.section1 .sectionBG .container .btnBox1 .btnBox2 .btnBox3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section1 .sectionBG .container .btnBox1 .btnBox2 .btnBox3 a {
  display: grid;
  place-items: center;
  align-content: center;
  width: 122.5px;
}
.section1 .sectionBG .container .btnBox1 .btnBox2 .btnBox3 a img {
  margin-bottom: 10px;
}
.section1 .sectionBG .container .btnBox1 .btnBox2 .btnBox3 .line {
  width: 1px;
  background-color: #153d97;
  height: 65px;
}
.section1 .sectionBG .container .swiper {
  width: 530px;
  height: 350px;
  background-color: rgb(135, 135, 135);
}
.section1 .sectionBG .container .swiper .slick-dots {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
}
.section1 .sectionBG .container .swiper .slick-dots li button {
  scale: 0.5;
  color: rgba(255, 255, 255, 0);
  opacity: 1;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.section1 .sectionBG .container .news {
  width: 495px;
  height: 350px;
  padding: 20px;
}
.section1 .sectionBG .container .news .newsBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .sectionBG .container .news .newsBtnBox .newsTab {
  display: flex;
}
.section1 .sectionBG .container .news .newsBtnBox .newsTab .newsBtn {
  background-color: #fff;
  border: 1px solid #2c3765;
  font-size: 20px;
  color: #153d97;
  width: 80px;
  height: 35px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.section1 .sectionBG .container .news .newsBtnBox .newsTab .newsBtn:hover {
  background-image: linear-gradient(#08389a, #001562);
  color: #fff;
}
.section1 .sectionBG .container .news .newsBtnBox .newsTab .active {
  background-image: linear-gradient(#08389a, #001562);
  color: #fff;
}
.section1 .sectionBG .container .news .newsBtnBox .newsTab .newsBtnNA {
  padding-top: 4px;
}
.section1 .sectionBG .container .news .btnMore {
  font-size: 20px;
  color: #153d97;
  font-weight: 550;
}
.section1 .sectionBG .container .news .line {
  width: 100%;
  height: 1px;
  background-color: #001562;
  margin-top: -1px;
}
.section1 .sectionBG .container .news .newsContainer .text {
  margin-top: 10px;
}
.section1 .sectionBG .container .news .newsContainer .text ul {
  line-height: 36px;
}
.section1 .sectionBG .container .news .newsContainer .text ul li {
  font-size: 18px;
}
.section1 .sectionBG .container .news .newsContainer .text ul li a {
  display: flex;
}
.section1 .sectionBG .container .news .newsContainer .text ul li a .textBox {
  width: 420px;
  display: flex;
  justify-content: space-between;
}
.section1 .sectionBG .container .news .newsContainer .text ul li a .textBox .textTitle,
.section1 .sectionBG .container .news .newsContainer .text ul li a .textBox .textTime {
  color: #153d97;
}
.section1 .sectionBG .container .news .newsContainer .text ul .TOP::before {
  content: "TOP";
  font-style: italic;
  color: #ff4901;
  margin-right: 19px;
  margin-left: 6px;
  letter-spacing: 1px;
}
.section1 .sectionBG .container .news .newsContainer .text ul .NEW::before {
  content: "NEW";
  font-style: italic;
  color: #ff4901;
  margin-right: 20px;
}
.section1 .sectionBG .container .news .newsContainer .text ul .normal::before {
  content: "  ▶ ";
  color: #153d97;
  margin-right: 31px;
  margin-left: 17px;
}

.section2 .sectionBG {
  background: url("../../../img/event/homepage/section2BG.jpg");
  background-size: 1920px 950px;
  background-position: center center;
  height: 950px;
  width: 1920px;
}
.section2 .sectionBG .btnBox {
  display: flex;
}
.section2 .sectionBG .btnBox button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.section2 .sectionBG .charBox {
  display: flex;
  justify-content: center;
}
.section2 .sectionBG .charBox .btnBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}
.section2 .sectionBG .charBox .btnBox .charBtn {
  width: 57px;
  height: 57px;
  border: 2px solid #0b3792;
  rotate: 45deg;
  margin: 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 .sectionBG .charBox .btnBox .charBtn:hover {
  border: 4px solid #5981b7;
  background-color: #0b3792;
}
.section2 .sectionBG .charBox .btnBox .charBtn:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='white'><feColorMatrix type='matrix' values='1 0 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 0 1 0'/></filter></svg>#white");
}
.section2 .sectionBG .charBox .btnBox .active {
  border: 4px solid #5981b7;
  background-color: #0b3792;
}
.section2 .sectionBG .charBox .btnBox .active img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='white'><feColorMatrix type='matrix' values='1 0 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 0 1 0'/></filter></svg>#white");
}
.section2 .sectionBG .charBox .cha {
  background: url("../../../img/event/homepage/char_3.png");
  background-size: 1458px 950px;
  background-position: center center;
  height: 950px;
  width: 1458px;
  display: flex;
  align-items: center;
  animation-duration: 0.5s;
  animation-name: fade-in-right;
  opacity: 0;
  animation-fill-mode: forwards;
}
.section2 .sectionBG .charBox .cha .textBox {
  width: 550px;
  height: 246px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 550;
  line-height: 30px;
  margin-top: -260px;
  align-items: flex-end;
}
.section2 .sectionBG .charBox .cha .textBox p {
  margin-top: 40px;
}
.section2 .sectionBG .charBox .cha .textBox .skillInt {
  margin-top: 25px;
  background-color: #3c68c3;
  border: none;
  color: #fff;
  font-weight: 550;
  font-size: 18px;
  width: 132px;
  height: 27px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.section2 .sectionBG .charBox .cha .textBox img, .section2 .sectionBG .charBox .cha .textBox p, .section2 .sectionBG .charBox .cha .textBox .skillInt {
  animation-duration: 0.5s;
  animation-name: fade-in-left;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes fade-in-left {
  0% {
    left: -200px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
.section2 .sectionBG .charBox .cha1 {
  background: url("../../../img/event/homepage/char_1.png");
}
.section2 .sectionBG .charBox .cha2 {
  background: url("../../../img/event/homepage/char_2.png");
}
.section2 .sectionBG .charBox .cha3 {
  background: url("../../../img/event/homepage/char_3.png");
}
.section2 .sectionBG .charBox .cha4 {
  background: url("../../../img/event/homepage/char_4.png");
}
.section2 .sectionBG .charBox .cha5 {
  background: url("../../../img/event/homepage/char_5.png");
}
.section2 .sectionBG .charBox .cha6 {
  background: url("../../../img/event/homepage/char_6.png");
}
.section2 .sectionBG .charBox .cha7 {
  background: url("../../../img/event/homepage/char_7.png");
}
.section2 .sectionBG .charBox .cha8 {
  background: url("../../../img/event/homepage/char_8.png");
}

.section3 .sectionBG {
  background: url("../../../img/event/homepage/section3BG.jpg");
  background-size: 1920px 950px;
  background-position: center center;
  height: 950px;
  width: 1920px;
  overflow: auto;
  padding-top: 150px;
}
.section3 .sectionBG .container {
  width: 1322px;
  height: 750px;
  margin: 0 auto;
  text-align: center;
}

.section3 .sectionBG .container .gallery_container {
  width: 100%;
  height: 570px;
}
.section3 .sectionBG .container .gallery_container .gallery_wrap {
  width: 1322px;
  height: 550px;
  display: flex;
}
.section3 .sectionBG .container .gallery_container .front_side {
  z-index: 5;
  transform: translateX(25%) scale(1);
}
.section3 .sectionBG .container .gallery_container .gallery_item {
  background: url("../../../img/event/homepage/section3swiperBG.png");
  background-size: 880px 539px;
  background-position: center center;
  height: 539px;
  width: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3 .sectionBG .container .gallery_container .gallery_item img.show {
  visibility: visible;
}
.section3 .sectionBG .container .gallery_container .gallery_item img {
  width: 840px;
  height: 500px;
  visibility: hidden;
  border-radius: 13px;
}
.section3 .sectionBG .container .gallery_container .threeD_gallery_item {
  position: absolute;
  transition: all 0.5s ease;
}
.section3 .sectionBG .container .gallery_container .gallery_right_middle {
  z-index: 1;
  transform: translateX(65%) scale(0.7);
}
.section3 .sectionBG .container .gallery_container .gallery_right_middle:before {
  content: "";
  position: absolute;
  width: 840px;
  height: 500px;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.section3 .sectionBG .container .gallery_container .gallery_out {
  transform: rotateY(0) translateX(0) translateZ(0) scale(0.6);
  z-index: -1;
  opacity: 0 !important;
}
.section3 .sectionBG .container .gallery_container .gallery_left_middle {
  z-index: 1;
  transform: translateX(-15%) scale(0.7);
}
.section3 .sectionBG .container .gallery_container .gallery_left_middle:before {
  content: "";
  position: absolute;
  width: 840px;
  height: 500px;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.section3 .sectionBG .container .gallery_container .prev {
  left: 0;
  text-align: right;
}
.section3 .sectionBG .container .gallery_container .prev img {
  padding-right: 40px;
}
.section3 .sectionBG .container .gallery_container .next {
  right: 0;
  text-align: left;
}
.section3 .sectionBG .container .gallery_container .next img {
  padding-left: 40px;
}
.section3 .sectionBG .container .gallery_container .prev,
.section3 .sectionBG .container .gallery_container .next {
  width: 241px;
  height: 349px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: absolute;
  top: 81px;
  z-index: 2;
  cursor: pointer;
}
.section3 .sectionBG .container .gallery_container .prev:hover img,
.section3 .sectionBG .container .gallery_container .next:hover img {
  filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.7));
}

.footer {
  background: #e9f1ff;
  width: 1920px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  color: #fff;
}
.footer .footerBox {
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .footerbox_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footerbox_logo .digeamlogo {
  margin-right: -10px;
  width: 235px;
  height: 56px;
  scale: 0.8;
}
.footer .footerbox_logo .giantlogo {
  margin-right: 10px;
  width: 232px;
  height: 83px;
  scale: 0.7;
}
.footer .copyright {
  margin-right: 35px;
  font-size: 12px;
}
.footer .copyright a {
  color: #1f48ba;
  font-weight: 600;
  display: inline-block;
  border-bottom: #1f48ba 1px solid;
  margin-bottom: 5px;
  margin-right: 10px;
}
.footer .plus {
  display: flex;
}
.footer .plus .plus15 {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}
.footer .plus p {
  font-size: 12px;
  line-height: 15px;
}
.footer .plus p .blue {
  color: #1f48ba;
}/*# sourceMappingURL=indexStyle.css.map */