.exchangePlayerInfo {
    display: flex;
    align-items: center;
    margin: 50px 0 10px;

    .account {
        display: flex;
        align-items: center;
        color: #234fac;
        font-size: 20px;
        width: 250px;
        height: 29px;

        span {
            color: #234fac;
        }
    }

    .logout,
    .login {
        color: #fff;
        font-size: 20px;
        width: 66px;
        height: 29px;
        line-height: 20px;
        font-weight: 600;
        cursor: pointer;
    }

    .logout {
        background-color: #94a7d7;
        border: 1px solid #94a7d7;
    }

    .login {
        background-color: #153d97;
        border: 1px solid #153d97;
    }
}


#exchangeForm {
    margin-top: 15px;

    .serchBox {
        display: flex;
    }

    input {
        height: 29px;
        width: 300px;
        font-size: 20px;
        border: 1px solid #234fac;
        margin-right: 5px;
    }

    select {
        font-size: 20px;
        width: 157px;
        height: 29px;
        color: #728dcc;
        border-radius: 0px;
        border: 1px solid #153d97;
        line-height: 20px;
        margin-right: 5px;
    }

    .submit {
        background-color: #153d97;
        border: 1px solid #153d97;
        color: #fff;
        font-size: 20px;
        width: 66px;
        height: 29px;
        line-height: 20px;
        font-weight: 600;
        cursor: pointer;
    }
}

.exchangeLine {
    background-color: #153d97;
    width: 878px;
    height: 1px;
    margin: 35px 0;
}

.exchangePoint {
    color: #959595;
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 50px;

    a {
        color: #1049cd;

        &:hover {
            font-weight: 600;
        }
    }
}