.textBox{
    .upBox{
        margin: 50px 0 20px;
        width: 878px;
        .time{
            font-size: 14px;
            color: #002578;
            span{
                color: #002578;
            }
        }
    }
    .downBox{
        line-height: 30px;
        .table {
            border-collapse: collapse;
    
            th {
                border: 1px solid #002578;
                background-color: #234fac;
                height: 45px;
                text-align: center;
                line-height: 43px;
                color: #fff;
            }
    
            td {
                color: #002578;
                border: 0.5px solid #002578;
                font-weight: 400;
                padding: 12px;
                text-align: left;
            }
    
        }
    }
}