.backHome{
    font-weight: 600;
    top: 30px;
    left: -150px;
    color: #fff26b;
}



.sectionPage {
    position: relative;
    width: 100%;

    .sectionBG {
        padding-bottom: 100px;
        background-image: linear-gradient(#fff, #d2e2ff);

        .container {
            width: 1270px;
            margin: 0 auto;
            display: flex;

            .btnBoxLeft {
                margin-top: -403px;
                background-color: rgba(255, 255, 255, .9);
                font-size: 22.5px;
                font-weight: 600;
                width: 245px;
                height: 350px;
                text-align: center;

                .buttonDownload {
                    transition: filter 0.3s ease-in-out;

                    &:hover {
                        filter: brightness(120%);
                    }

                    &:not(:hover) {
                        filter: brightness(100%);
                    }
                }

                a {
                    color: #153d97;
                }

                .btnBox2 {
                    display: flex;
                    flex-direction: column;

                    .register,
                    .addValue,
                    .OTP,
                    .customerService {
                        height: 86px;

                        &:hover {
                            background-color: #eef5ff93;
                        }
                    }

                    .register,
                    .addValue {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-bottom: 1.9px solid;
                        border-image: linear-gradient(90deg,
                                rgba(255, 255, 255, 0) 3%,
                                rgb(31, 48, 107)4%,
                                rgb(31, 48, 107)96%,
                                rgba(255, 255, 255, 0)97%) 100% 0;

                        img {
                            margin-right: 10px;
                        }
                    }

                    .btnBox3 {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        a {
                            display: grid;
                            place-items: center;
                            align-content: center;
                            width: 122.5px;

                            img {
                                margin-bottom: 10px;
                            }
                        }

                        .line {
                            width: 1px;
                            background-color: #153d97;
                            height: 65px;
                        }
                    }
                }
            }

            .boxRight {
                background-color: rgba(255, 255, 255, .9);
                width: 1025px;
                height: 100%;
                margin-top: -403px;
                border: 1px solid #1a48a8;

                // padding: 50px;
                .textTitle {
                    font-size: 36px;
                    color: #002578;
                    font-weight: 600;
                    letter-spacing: 2px;
                    text-align: center;
                    padding: 27px;
                    border-bottom: #002578 1px solid;
                }

                .textBox {
                    padding: 40px 72.5px;

                    .seat {
                        position: absolute;
                        top: 15px;
                        right: 45px;
                        font-family: "微軟正黑體";
                        font-size: 15px;
                        font-weight: bold;
                        color: #696969;

                        a, span {
                            color: #696969;

                            &:hover {
                                color: #1a48a8;
                            }

                        }
                        .currentLocation {
                            color: #1a48a8;

                            &:hover {
                                color: #1b63ff;
                            }
                        }
                    }
                }
            }
        }
    }
}




.footer {
    background: #d2e2ff;
}