body {
    overflow: hidden;
    overflow-y: hidden;
}

.launch {
    background-image: url('/img/event/launcher/launcher.jpg');
    background-repeat: no-repeat;
    width: 619px;
    height: 417px;
    position: absolute;
    top: 0;
    left: 0;
}

.notice .menubox ul {
    list-style: none;
}

.notice {
    padding: 0;
    border: 1px solid blue;
    margin: 0;

    .carouselBox {
        border: 2px solid red;
        height: 180px;

        .container {
            height: 180px;

            ul {
                list-style: none;
                padding: 0;
                border: 1px solid blue;
            }

            .container2 {
                overflow: hidden;
                position: relative;
                height: 180px;
                width: 566px;

                .slider {
                    li {
                        float: left;
                        vertical-align: top;
                    }

                    img {
                        background-color: #fff;
                        width: 566px;
                        height: 180px;
                    }
                }

                .slider2 {
                    width: 10000px;
                }
            }


            .num {
                position: absolute;
                margin: 0;
                left: 2px;
                top: 25px;

                li {
                    border: 1px solid #fff;
                    border-radius: 25px;
                    text-align: center;
                    width: 12px;
                    height: 12px;
                    line-height: 1;
                    cursor: pointer;
                    overflow: hidden;
                    background: #6faae5;
                    margin-left: 3px;
                }

                li.on {
                    background-color: #fff;
                    border: 1px solid #6faae5;
                }
            }
        }
    }

    #tabs {
        position: absolute;
        top: 219px;
        left: 0;
        border: 2px solid red;
        width: 573px;
        height: 173px;
        background-color: #ffffff9a;
        font-family: 'noto sans tc';

        .menubox {
            height: 31px;

            .codeDemoUL {
                padding: 0;

                li {
                    float: left;
                    text-align: center;
                }

                .codeDemomouseOnMenu,
                .codeDemomouseOutMenu {
                    background-color: #fff;
                    border: 1px solid #2c3765;
                    font-size: 20px;
                    color: #153d97;
                    width: 80px;
                    margin-right: 5px;
                    white-space: nowrap;
                }

                .codeDemomouseOnMenu {
                    background-color: #08389a;
                    color: #fff;
                }
            }

            .more {
                font-size: 20px;
                color: #153d97;
                text-decoration: none;
                margin-left: 222px;
            }
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: #001562;
            margin-top: -1px;
        }

        #newlist {
            .newslist2 {
                padding: 10px 0;
                line-height: 28px;

                ul {
                    padding: 0;
                }

                li {
                    list-style: none;
                    font-size: 15px;
                    float: left;

                    .textBox {
                        float: left;
                        width: 528px;
                        font-weight: 500;
                        color: #08389a;
                    }

                    .textTitle {
                        color: #08389a;
                        text-decoration: none;
                        max-width: 350px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        display: inline-block;
                        margin-right: 20px;
                    }

                    .textTime {
                        font-size: 14px;
                    }

                }

            }
        }

    }
}