.index-container {
	position: relative;
	overflow: hidden;
	width: 611px;
	height: 403px;
	background: url(/img/event/launcher/bgg1.jpg);
	font-family: '微軟正黑體','Arial';
}

.index-container .slideBox {
	float: right;
	position: relative;
	width: 565px;
	height: 204px;
	padding: 11px 0 0 12px;
	background: url(/img/event/launcher/bannerBG.png) no-repeat;
}

.index-container .slideBox .item-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.index-container .slideBox .item-wrapper ul li img {
	width: 540px;
	height: 182px;
}

.index-container .slideBox .hd {
	width: 19px;
	overflow: hidden;
	position: absolute;
	left: -25px;
	bottom: 13px;
	z-index: 1;
	text-align: center;
}

.index-container .slideBox .hd ul {
	overflow: hidden;
	zoom: 1;
	float: left;
}

.index-container .slideBox .hd ul li {
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #81a7c5;
	cursor: pointer;
	text-indent: -9999px;
}

.index-container .slideBox .hd ul li.on {
	border: 1px solid #b0c7d7;
	background: #fff;
}

.index-container .news-container {
	position: relative;
	display: inline-block;
	width: 592px;
	height: 196px;
	background: url(../images/newsbg1.png) no-repeat;
	margin: 0px auto;
}

.index-container .news-container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 592px;
	height: 196px;
	background: url(../images/flow.png) no-repeat;
	pointer-events: none;
}

.news-container .head {
	padding: 0 5px;
	height: 31px;
	font-size: 0;
}

.news-container .head .more {
	color: #153d97;
	font-size: 20px;
	border: none;
	background-color: #ebf1f600;
	margin-left: 244px;
	cursor: pointer;
	font-weight: 500;
}

.news-container .head a {
	position: relative;
	display: inline-block;
	width: 80px;
	font-size: 20px;
	text-align: center;
	height: 30px;
	font-weight: 500;
	color: #153d97;
	border: #153d97 1px solid;
	font-family: '微軟正黑體','Arial';
	background-color: #fff;
	margin-right: 5px;
}

.news-container .head .on {
	color: #fff;
	background-color: #153d97;
}

.news-container .context {
	position: relative;
	padding: 10px 2px;
	height: 135px;
	margin: 0 auto;
	overflow: hidden;
}

.news-container .context ul {
	width: 100%;
	overflow: hidden;
}

.news-container .context li {
	display: block;
	padding: 0 14px;
	height: 27px;
	line-height: 27px;
	font-size: 0;
	background: url(../images/txtbg2-2.png) no-repeat center 0;
}

.news-container .context li.even {
	background-image: url(../images/txtbg2-1.png);
}

.news-container .context li .colum1 {
	display: inline-block;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	font-family: '微軟正黑體','Arial';
	color: #ff6715;
	margin-right: 5px;
}

.news-container .context li .colum2 {
	display: inline-block;
	max-width: 417px;
	width: 417px;
	margin-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
	text-overflow:ellipsis;
	font-family: '微軟正黑體','Arial';
}

.news-container .context li .colum2 a {
	color: #153d97;
	font-size: 16px;
	font-family: '微軟正黑體','Arial';
}

.news-container .context li .colum2:hover {
	text-decoration: underline;
}

.news-container .context li .colum3 {
	display: inline-block;
	width: 15%;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #153d97;
	font-size: 15px;
	font-family: '微軟正黑體','Arial';
}

.news-container .line {
	height: 1px;
	width: 603px;
	background-color: #153d97;
}
