main {
    .s3 {
        height: 970px;
        width: 100%;
        background-image: url(../../../img/event/20231116/s3/s3Bg.jpg);
        position: relative;
        @extend %bg-cover;
        @extend %f-r-c;

        .s3_pc {
            @extend %f-r-c;
            justify-content: space-evenly;
            width: 100%;

            @include sm() {
                display: none;
            }

            .s3_menu {
                @extend %f-c-c;

                li {
                    @include size (120%, 70px);
                    @extend %f-r-c;
                    font-size: 24px;
                    border: 1px solid #ffff;
                    border-radius: 2px;
                    margin: 20px 0px;
                    cursor: pointer;
                    font-family: 'SourceHanSerifTC-Heavy';
                    box-shadow: 0px 0px 5px #000;
                    letter-spacing: 3px;
                    color: #ffff;
                    background-image: url(../../../img/event/20231116/s3/s3TitleBack.png);

                    &:hover,
                    &.active {
                        background-image: url(../../../img/event/20231116/s3/s3TitleBackHover.png);
                        transition: .8s;
                    }

                    &::before {
                        content: '';
                        @include re-lt(0, 0);
                        @include size(24px, 30px);
                        background-image: url(../../../img/event/20231116/s3/s3TitleDeco1.png);
                    }

                    &::after {
                        content: '';
                        @include re-lt(3px, 0);
                        @include size(24px, 30px);
                        background-image: url(../../../img/event/20231116/s3/s3TitleDeco2.png);
                    }

                }

            }

            .s3_main {
                @include size(75%, 730px);
                @extend %bg-cover;
                @extend %f-c-c;
                background-image: url(../../../img/event/20231116/s3/s3InnerBg.png);
                border: 4px #192e2e solid;
                border-radius: 6px;
                box-shadow: inset 0 0 5px #000000;
                position: relative;

                &::before {
                    content: '';
                    @include ab-lt(-3px, -3px);
                    @include size(99px, 97px);
                    @extend %bg-contain;
                    background-image: url(../../../img/event/20231116/s3/s3Deco1.png);
                }

                &::after {
                    content: '';
                    @include ab-rb(-3px, -3px);
                    @include size(99px, 97px);
                    @extend %bg-contain;
                    background-image: url(../../../img/event/20231116/s3/s3Deco2.png);
                }

                .t1 {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    position: relative;

                    .t1_title {
                        @extend %bg-contain;
                        background-image: url(../../../img/event/20231116/s3/s3InnerTitle1.png);
                        @include size(458px, 145px);

                        @include lg() {
                            padding-bottom: 20%;
                        }
                    }

                    .content_box {
                        @extend %f-r-c;
                        position: relative;
                        overflow-y: auto;
                        overflow-x: hidden;
                        flex-wrap: wrap;

                        @include lg() {
                            height: 70%;
                        }

                        .s3_img {
                        margin-right: 5vw;
                        margin-bottom: 2vh;
                        @include lg(){
                            margin-right: 0;
                        }
                        }

                        .content_text {
                            @extend %f-c-c;
                            font-weight: 500;
                            font-size: 22px;
                            line-height: 60px;

                            .sub {
                                @include size(212px, 62px);
                                font-family: 'SourceHanSerifTC-Heavy';
                                font-size: 24px;
                                letter-spacing: 2px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                padding-left: 8%;
                                color: #fff;
                                background-image: url(../../../img/event/20231116/s3/s3InnerTitleBg2.png);
                            }

                            p {
                                font-weight: 600;
                                text-align: center;

                                @include md() {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    .other_box {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        bottom: -30px;

                        .pop {
                            padding: 15px 40px;
                            margin-left: 20px;
                            color: #fff;
                            font-size: 24px;
                            background-color: #0d626f;
                            border: 1px solid #fff;
                            border-radius: 2px;
                            letter-spacing: 1px;
                            cursor: pointer;
                            font-family: 'SourceHanSerifTC-Heavy';

                            &:hover {
                                background-color: #02262c;
                                transition: .5s;

                            }
                        }
                    }
                }

                .t2 {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    position: relative;

                    .t2_title {
                        @extend %bg-contain;
                        position: relative;
                        background-image: url(../../../img/event/20231116/s3/s3InnerTitle2.png);
                        @include size(458px, 145px);

                        @include lg() {
                            padding-bottom: 23%;
                        }
                    }

                    .content_box {
                        @extend %f-c-c;
                        position: relative;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 60px;
                        margin-top: 2%;
                        overflow-y: auto;
                        overflow-x: hidden;
                        padding: 0% 5%;

                        @include lg() {
                            height: 70%;
                            padding-top: 25%;
                        }

                        .sub {
                            @include size(212px, 62px);
                            font-family: 'SourceHanSerifTC-Heavy';
                            font-size: 24px;
                            letter-spacing: 2px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            padding-left: 6%;
                            color: #fff;

                            background-image: url(../../../img/event/20231116/s3/s3InnerTitleBg2.png);
                        }

                        p {
                            font-weight: 600;
                            text-align: center;

                            @include md() {
                                font-size: 20px;
                            }
                        }
                    }

                    .other_box {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        bottom: -40px;

                        .pop {
                            padding: 15px 40px;
                            margin-left: 20px;
                            color: #fff;
                            font-size: 24px;
                            background-color: #0d626f;
                            border: 1px solid #fff;
                            border-radius: 2px;
                            letter-spacing: 1px;
                            cursor: pointer;
                            font-family: 'SourceHanSerifTC-Heavy';

                            &:hover {
                                background-color: #02262c;
                                transition: .5s;
                            }
                        }
                    }
                }

                .t3 {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    position: relative;


                    .t3_title {
                        @extend %bg-contain;
                        position: relative;
                        background-image: url(../../../img/event/20231116/s3/s3InnerTitle3.png);
                        @include size(458px, 145px);
                    }

                    .content_box {
                        @extend %f-c-c;
                        height: 100%;
                        position: relative;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 35px;
                        overflow-y: auto;
                        overflow-x: hidden;

                        @include lg() {
                            height: 70%;
                            padding-top: 73%;
                        }

                        @include md() {
                            height: 70%;
                            padding-top: 90%;
                        }

                        .content_text {
                            @extend %f-c-c;

                            .sub {
                                @include size(212px, 62px);
                                font-family: 'SourceHanSerifTC-Heavy';
                                font-size: 24px;
                                letter-spacing: 2px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                padding-left: 8%;
                                color: #fff;
                                background-image: url(../../../img/event/20231116/s3/s3InnerTitleBg2.png);
                            }

                            p {
                                font-weight: 600;
                                text-align: center;

                                @include md() {
                                    font-size: 20px;
                                }

                                span {
                                    color: #930202;
                                }
                            }
                        }

                        .content_img {
                            @extend %f-r-c;
                            flex-wrap: wrap;
                            @extend %ani-box1;

                            .case_box {
                                @extend %f-r-c;
                                cursor: pointer;
                                padding-left: 5px;

                                .case_txt {
                                    margin-left: -15px;
                                    margin-top: 15%;
                                }
                            }
                        }

                    }

                    .other_box {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        bottom: -40px;

                        .pop {
                            padding: 15px 40px;
                            margin-left: 20px;
                            color: #fff;
                            font-size: 24px;
                            background-color: #0d626f;
                            border: 1px solid #fff;
                            border-radius: 2px;
                            letter-spacing: 1px;
                            cursor: pointer;
                            font-family: 'SourceHanSerifTC-Heavy';

                            &:hover {
                                background-color: #02262c;
                                transition: .5s;
                            }
                        }
                    }
                }
            }
        }

    }
}
